<header class="header">
  <div class="container">
    <div class="header__wrapper">

      <div class="header-logo">
        <a href="index.html">
          <img class="logo" src="img/logo.svg" alt="Логотип">
        </a>
      </div>

      <div class="big-nav">
        <a href="#" class="big-nav__link"><div class="big-nav__item">Архитекторам</div></a>
        <a href="#" class="big-nav__link"><div class="big-nav__item">Клиентам</div></a>
        <a href="#" class="big-nav__link"><div class="big-nav__item">Партнёрам</div></a>
      </div>

      <button class="header-login">
        <img src="img/login.svg" alt="Иконка Логина">
      </button>

    </div>
  </div>

  <div class="line"></div>

  <div class="container">
    <nav class="nav-wrapper">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Продукция</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Области применения</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Калькулятор</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Проекты</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Информация</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
        <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
  </div>

  <div class="line"></div>
</header>
